<section id="hero" class="hero" style="--hero-image: url('{{ lastMovie.coverImage }}');">
    <div class="hero__content max">
        <picture class="poster__image">
            <img src="{{ lastMovie.posterImage }}" alt="Hero Image" />
        </picture>
        <article class="hero__text">
            <h1 class="hero__title">{{ lastMovie.title }}</h1>
            <p class="hero__subtitle">{{ lastMovie.synopsis }}</p>
            <a href="/pelicula/{{ lastMovie.slug }}" class="btn btn-primary">Ver</a>
        </article>
    </div>
</section>

<style>
    #hero {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2rem;
        height: 65dvh;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: var(--hero-image);
            background-size: cover;
            background-position: top center;
            opacity: 0.5;
            z-index: -1;
            mask-image: linear-gradient(to top, transparent 5%, black 33%);
        }
    }

    .hero__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
        width: 100%;
    }

    .hero__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .hero__subtitle {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .poster__image {
        flex: 0 0 240px;
        max-width: 240px;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
    }

    .hero__image img {
        max-width: 100%;
        height: auto;
    }
</style>